@model DoAnCNPMnc.Models.GiangVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div style="margin: 20px">
        <h2>Chi tiết</h2>

        <div>
            <h4>Giảng Viên</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Tên Giảng Viên
                    @*@Html.DisplayNameFor(model => model.TenGV)*@
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenGV)
                </dd>

                <dt>
                    Học Vị
                    @*@Html.DisplayNameFor(model => model.HocVi)*@
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HocVi)
                </dd>

                <dt>
                    Email
                    @*@Html.DisplayNameFor(model => model.Email)*@
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Số Điện Thoại
                    @*@Html.DisplayNameFor(model => model.Sdt)*@
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sdt)
                </dd>

                <dt>
                    Mã Tài Khoản
                    @*@Html.DisplayNameFor(model => model.MaTaiKhoan)*@
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaTaiKhoan)
                </dd>
            </dl>
        </div>
        <div class="back">
            @Html.ActionLink("Sửa", "Edit", new { id = Model.MaGV })
            |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    </div>